PROJECT-0_Data_visualization/data/churn.csv
PROJECT-3_EDA/data/hotels_test.csv
PROJECT-3_EDA/data/hotels_train.csv
PROJECT-3_EDA/data/submission.csv
PROJECT-4_Задача_классификации/data/bank_fin.csv
PROJECT-5_Задача_регрессии/data/holiday_data.csv
PROJECT-5_Задача_регрессии/data/osrm_data_test.csv
PROJECT-5_Задача_регрессии/data/osrm_data_train.csv
PROJECT-5_Задача_регрессии/data/submission_gb.csv
PROJECT-5_Задача_регрессии/data/submission_xgb.csv
PROJECT-5_Задача_регрессии/data/test.csv
PROJECT-5_Задача_регрессии/data/train.csv
PROJECT-5_Задача_регрессии/data/weather_data.csv
PROJECT-6_Сегментирование_клиентов_онлайн-магазина_подарков/data/customer_segmentation_project.csv
PROJECT-6_Сегментирование_клиентов_онлайн-магазина_подарков/data/data.csv
PROJECT-7_House_prices_predict/data/data.csv
PROJECT-7_House_prices_predict/house_prices/
PROJECT-7_House_prices_predict/data/processed_data.csv
